# Use this 'git ls-files -i --exclude-standard'
# to check if there is something excluded that belongs
# to the repository.

.*
!.gitignore
!.gitattributes
!.luacheckrc
!.github

# ignore test artifacts
data/*.orig
data/*.new
data/*.log

# ignore release zip files
*.zip
