// remove borders
$border: 0px none;

// page body
$body-background-color: $white;
$table-background-color: $white;
$code-background-color: $grey-lt-200;
$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$link-color: $blue-000;
$btn-primary-color: $purple-100;

// side navigation bar
$sidebar-color: $grey-dk-000;
$nav-child-link-color: $grey-dk-100;
//$nav-list-item-height: $sp-6;
//$nav-list-item-height-sm: $sp-8;
$nav-list-expander-right: false;

// search bar
$search-background-color: $white;
$feedback-color: darken($sidebar-color, 3%);
$search-result-preview-color: $grey-dk-000;
$search-results-width: $content-width - $nav-width;
